<nav class="navbar navbar-right navbar-expand-lg navbar-dark bg-primary">
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="assets/pandora_logo.png" alt="" width="110" height="25">
            </a>
        </div>
        <div class="container-fluid">
            <input class="form-control me-2" type="search" placeholder="Find artists, songs, podcasts and more"
                aria-label="Search">
        </div>
    </nav>

    


    <ul class="navbar nav justify-content-end navbar-dark bg-primary">
        <div class="container">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <button class="btn" type="submit">View Plans</button>
                </li>
                <li class="nav-item">
                    <button class="btn" type="submit">Sign Up</button>
                </li>
                <li class="nav-item">
                    <button class="btn" type="submit">Login</button>
                </li>
                <!-- // question-circle-fill -->
            </ul>
        </div>
    </ul>
</nav>
