<div class="row">
  <div class="container d-flex flex-column">
    <div class="container-fluid">
      <!-- d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center -->
      <ul style="list-style:none;" class="d-flex flex-column me-auto mb-2 mb-lg-0">
        <li class="item">
          <a class="link link--active visited" aria-current="page" routerLink="about">About</a>
        </li>
        <li class="item">
          <a class="link link--active" aria-current="page" routerLink="contact">Contact</a>
        </li>
        <li class="item">
          <a class="link">Management</a>
        </li>
        <li class="item">
          <a class="link">Board</a>
        </li>
      </ul>
    </div>
  </div>
</div>
